# PostgreSQL
POSTGRES_USER=fiskekort
POSTGRES_PASSWORD=fiskekort-passord-123
POSTGRES_DB=fiskekort

# Frontend
NEXT_PUBLIC_API_URL=http://localhost

# Stripe
STRIPE_SECRET_KEY=sk_test_...

# Vipps
VIPPS_CLIENT_ID=
VIPPS_CLIENT_SECRET=
VIPPS_MERCHANT_SERIAL=
